extends layout

block content
  h1= title
  p Welcome to #{title}
  div
      | <a href="#takeoff">takeoff</a>
      | <a href="#land">land</a>
      | <a href="#stop">stop</a>
  h3
    Controls: WASD to move in the horizontal plane, cursor up and down keys to move vertically. Spacebar to takeoff/land.
